[Desktop Entry]
Encoding=UTF-8
Name=BATL
Comment=BATL P2P Cryptocurrency
Comment[fr]=BATL, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BATL, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/batl-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/batl;
Categories=Office;
